* {
    list-style: none;
    text-decoration: none;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;

    text-align: center;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 82.08%, rgba(227, 255, 248, 0.38) 100%);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 65px;
    margin: 0 auto;
    width: 1008px;
}

header p {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #89C5CC;
}

header ul {
    display: flex;
    gap: 48px;
}

header ul li a {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1F1534;
    opacity: 0.5;
}

header ul li a:hover {
    font-weight: 700;
    color: black;
}

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1008px;
    margin: 58px auto 80px;
}

#hero div {
    text-align: start;
}

#hero div h1 {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 49px;

    margin-bottom: 40px;
}

#hero div h1 strong {
    color: #89C5CC;
}

button {
    display: flex;
    gap: 12px;
    padding: 15px 32px 16px;
    border-radius: 4px;

    background-color: green;
    border: 0;
    color: white;

    justify-content: center;
    align-items: center;

    
}

button:hover {
    background: rgb(22, 156, 22);
}

#f {
    margin: 20px auto 40px;
}

footer a {
    color: #1F1534;
    font-weight: bold;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}

