* {
    list-style: none;
    text-decoration: none;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;

    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 65px auto 58px;
}

header p {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #89C5CC;
}

header ul {
    display: flex;
    gap: 48px;
    padding-left: 635px;
}

header li {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1F1534;
    opacity: 0.5;

    /* Nescessário fazer alteração para quando ficar clicado ficar mais preto. */
}

#hero {
    border: 1px solid red;

    display: flex;
    justify-content: center;
}

#hero div {
    border: 1px solid blue;

    padding-top: 51px;
    text-align: start;
}

#hero div h1 {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 49px;

    margin-bottom: 40px;

    border: 1px solid green;
}

#hero div h1 strong {
    color: #89C5CC;
}

#one {
    padding-left: 102px;
}

button {
    display: flex;
    gap: 12px;
    padding: 15px 32px 16px;
    border-radius: 4px;

    background-color: green;
    border: 0;
    color: white;

    justify-content: center;
    align-items: center;
}

#f {
    margin: 20px auto 40px;
}

